.lobbyTitle {
    height: 100px;
    font-weight: bolder;
}

.lobbyScreen {
    margin-top: 0px;
    text-align: center;
    color:  black;
    background-color: rgba(70,130,180,0.4);
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.name {
    margin: 10px 150px 10px 150px;
    background-color: rgba(173,216,230,0.4);
    border-radius: 10px;
    font-size: 30px;    

}

